<section class="grid">
  <div class="header"></div>
  <div class="header bold">
    <h3>{{selectedDate | date:'EEEE dd/LL':undefined:locale | titlecase}}</h3>
  </div>
  @for (time of scheduleTime; track time) {
    <div>
      {{ time }}
    </div>
    <div class="quarters-container">
      <div
        class="quarter"
        data-division="0"
        [attr.data-hour]="time"
        (click)="show($event)"
      ></div>
      <div
        class="quarter"
        data-division="15"
        [attr.data-hour]="time"
        (click)="show($event)"
      ></div>
      <div
        class="quarter"
        data-division="30"
        [attr.data-hour]="time"
        (click)="show($event)"
      ></div>
      <div
        class="quarter"
        data-division="45"
        [attr.data-hour]="time"
        (click)="show($event)"
      ></div>
    </div>
  }
</section>
