.grid {
  width: 100%;
  height: calc(14 * 40px + 70px);
  display: grid;
  gap: 0.15rem;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 50px repeat(14, 40px);
  justify-content: center;
  align-items: start;

  & > div {
    background-color: var(--bg-200);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first {
      background-color: transparent;
    }
  }

  & > div.header {
    height: 50px;

    h3 {
      height: 50px;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
