.track-task {

  --row-height: 36px;
  --input-mask-width: 60px;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  form {
    width: 100%;

    & > div {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      padding-top: 1.5rem;
    }

    .task-autocomplete, .tags {
      padding-top: 0.5rem;
      justify-content: stretch;
    }

    .duration {
      justify-content: space-between;

      & > span {
        display: flex;
        flex-flow: row nowrap;
      }
    }

    .footer-buttons {
      justify-content: center;
    }

    ::ng-deep {

      p-button.only-icon button {
        width: var(--row-height);
        height: var(--row-height);
      }

      p-autocomplete.accent {
        display: block;
        width: 100%;

        .p-autocomplete {
          width: 100%;
        }
      }
      p-inputmask .p-inputtext {
        width: var(--input-mask-width);
        height: var(--row-height);
      }
    }
  }
}
