

section {
  --row-height: 36px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-bottom: 1rem;

  div.today-column {
    padding: 0.35rem 0.65rem;
  }


  div.time-counter-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    form {
      max-height: var(--row-height);

      ::ng-deep {
        p-autocomplete ul.p-autocomplete-items {
          padding: 0;

          li.p-autocomplete-item {
            padding: 0.25rem 0.5rem;
            font-size: 14px;
          }
        }
      }
    }
  }
}
