@import "primeng/resources/primeng.min.css";
@import "./assets/theme/theme.css";
@import "primeicons/primeicons.css";

/* COLOR UTILITIES */
.coral-container {
  background-color: var(--primary-100);
}

.coral-text {
  color: var(--primary-400);
}

.royal-blue-container {
  background-color: var(--accent-200);
}

/* ----- */
body {
  margin: 0;
  padding: 0;
}

.bold {
  font-family: var(--font-family-bold) !important;
}

.button__icon_large button span::before {
  font-size: 1.5rem;
}
.button__icon_very-large button span::before {
  font-size: 2rem;
}
